<!DOCTYPE html>

<html>

<head>
    <title>About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">{{>header}}
        <img class="potrait" src="/img/me.png">
        <p>Hi, This is Tanmoy. I am javascript Developer.This is a part of learning project.
        </p>
        <p><Strong>LinkedIn: </Strong>https://www.linkedin.com/in/tanmoy-sen-15ba7b119/</p>
    </div>
    {{>footer}}
</body>

</html>