<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">{{>header}}
        <img class="potrait" src="/img/me.png">
        <p>Hi, This is Tanmoy. I am javascript Developer.This is a part of learning project.
        </p>
    </div>
    {{>footer}}
</body>

</html>