<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content"> {{>header}}
        <p>{{message}}</p>
        <p><Strong>LinkedIn: </Strong>https://www.linkedin.com/in/tanmoy-sen-15ba7b119/</p>
    </div>
    {{>footer}}
</body>

</html>