<header>
  <img class="landscape" src="/img/weather_og.png">
  <div class="nav-wrapper">
  <a class="{{value1}}" href="/">Weather</a>
  <a class="{{value2}}"  href="/about">About</a>
  <a class="{{value3}}" href="/help">Help</a>
  </div>
</header>